/target/
/.idea/
/vivado/
/.vscode/
/.bsp/
/project/
vivado/Basys3Game/Basys3Game.cache/wt/project.wpc
target/streams/compile/packageBin/_global/streams/inputs
target/streams/compile/incOptions/_global/streams/out
target/streams/compile/compile/_global/streams/out
target/scala-2.12/zinc/inc_compile_2.12.zip

vivado/Basys3Game/Basys3Game.runs/synth_1/runme.log
vivado/Basys3Game/Basys3Game.runs/synth_1/Top.vds
vivado/Basys3Game/Basys3Game.runs/synth_1/vivado.jou
vivado/Basys3Game/Basys3Game.runs/synth_1/vivado.pb
target/streams/compile/compile/_global/streams/out
target/streams/compile/compileIncremental/_global/streams/out
target/streams/compile/packageBin/_global/streams/inputs
target/streams/compile/run/_global/streams/out
vivado/Basys3Game/Basys3Game.cache/wt/project.wpc
vivado/Basys3Game/Basys3Game.cache/wt/synthesis.wdf
vivado/Basys3Game/Basys3Game.cache/wt/webtalk_pa.xml
vivado/Basys3Game/Basys3Game.runs/impl_1/.vivado.begin.rst
vivado/Basys3Game/Basys3Game.runs/impl_1/gen_run.xml
vivado/Basys3Game/Basys3Game.runs/synth_1/.vivado.begin.rst
vivado/Basys3Game/Basys3Game.runs/synth_1/gen_run.xml
vivado/Basys3Game/Basys3Game.runs/synth_1/runme.log
vivado/Basys3Game/Basys3Game.runs/synth_1/Top.vds
vivado/Basys3Game/Basys3Game.runs/synth_1/vivado.jou
vivado/Basys3Game/Basys3Game.runs/synth_1/vivado.pb
